<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">user information</h1>
        <br><br>
         <!-- <h4>Default</h4>
          <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
          <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

          <pre style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></pre>

          <button type="button" class="btn btn-sm btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">Clear</button>
          <button type="button" class="btn btn-sm btn-default" ng-click="isReadonly = ! isReadonly">Toggle Readonly</button>
          <hr />
          -->

        <hr size="5">
        <table class="table">
          <thead>
          <tr>
            <th>User Name</th>
            <th>E-mail</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
          <tbody>
          <tr>
            <td>{{usersController.user.username}}</td>
            <td>{{usersController.user.email}}</td>
            <td>{{usersController.user.name.firstName}}</td>
            <td>{{usersController.user.name.lastName}}</td>
          </tr>
         </tbody>
        </table>
      </div>
    </div>
  </div>
