<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Project 2</h1>
    </div>
  </div>
      <input ng-model="mainController.input" />
      <h1>You entered: {{ mainController.input }}</h1>
      <ul>
        <li ng-repeat="value in mainController.values">{{ value }}</li>
      </ul>
      <hr size="5">
  <button ng-click="mainController.createUser()" type="button" class="btn btn-default">Create new User</button>
      <table class="table">
        <thead>
        <tr>
          <th>Id</th>
          <th>User Name</th>
          <th>E-mail</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in mainController.users">
          <td><button ng-click="mainController.updateUser(user)" type="button" class="btn btn-default">{{user._id}}</button></td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.name.firstName}}</td>
          <td>{{user.name.lastName}}</td>
        </tr>
        </tbody>
      </table>
  <hr size="5">
  <button ng-click="mainController.createRecipe()" type="button" class="btn btn-default">Create new Recipe</button>
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Prep Time</th>
      <th>Cook Time</th>
      <th>Directions</th>
      <th>Ingredients Name</th>
      <th>Amount</th>
      <th>Reviews</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="recipe in mainController.recipes">
      <td><a ng-href="/recipes/{{recipe._id}}">{{recipe._id}}</a></td>
      <td>{{recipe.name}}</td>
      <td>{{recipe.description}}</td>
      <td>{{recipe.image}}</td>
      <td>{{recipe.prepTime}}</td>
      <td>{{recipe.cookTime}}</td>
      <td>{{recipe.direction}}</td>
      <td>{{recipe.ingredients.name}}</td>
      <td>{{recipe.ingredients.amount}}</td>
      <td>{{recipe.reviews}}</td>
    </tr>
    </tbody>
  </table>
    </div>
  </div>
</div>
